<!-- <h2>Testing Routing</h2>
<nav>
  <ul>
    <li><a routerLink="/first-component" routerLinkActive="active">First</a></li>
    <li><a routerLink="/second-component" routerLinkActive="active">Second</a></li>
    <li><a routerLink="/third-component" routerLinkActive="active">Third</a></li>
  </ul>
</nav> -->
<!-- <router-outlet></router-outlet> -->

<body>
  <h1>My Awesome App</h1>


  <!-- <button (click)="this.componentToShow = 'login'">Login</button> -->
  <!-- <app-login> </app-login> -->

  <!-- <app-public-content *ngIf="componentToShow == 'login'" /> -->
  <!-- <app-private-content *ngIf="componentToShow == 'public'" /> -->

</body>